<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Update these settings for your test environment -->
    <add key="VaultUrl" value="https://kirkevault.vault.azure.net"/>
    <add key="TracingEnabled" value="false"/>
    <add key="ServicePointManagerConfigEnabled" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
