<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Update these settings for your test environment -->
    <add key="VaultUrl" value="https://kirkevault.vault.azure.net"/>
    <add key="AuthClientId" value="07a4d1df-a72d-4c54-b5e8-1fa3282ac758"/>
    <add key="AuthCertThumbprint" value="6e0c1cb74308d4098587b3f4dfbb9840c6dcba70"/>
    <add key="TracingEnabled" value="false"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
